@import url('https://fonts.googleapis.com/css2?family=Segoe+UI:wght@400;700&family=Source+Sans+Pro:wght@300;400;600&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&display=swap');    
        /* Barra superior principal con el slogan y botón */
        .header-banner {
            background-size: cover; /* cubre todo el ancho*/
            background-position: center;         
            padding: 0px 0;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 5%;
            gap: 20px;
            height: 400px;
            width: 100%;
            border-bottom: 1px solid white;
        }
        
        .header-content {
            color: rgb(244, 239, 239);
            max-width: 500px;
            margin-left: auto;
            text-align: left;
            font-family: 'Open Sans', sans-serif;
        }
        
        .header-title {
            color: rgb(244, 239, 239);  
            font-size: 3rem;
            font-weight: 700;
            margin-bottom: 10px;
        }
        
        .header-subtitle {
            font-size: 1.1rem;
            font-weight: 300;
            margin-bottom: 20px;
        }
        
        .header-link {
            font-size: 1rem;
            font-weight: 500;
            color: white;
            text-decoration: underline;
            transition: opacity 0.3s ease;
        }
        
        .header-link:hover {
            opacity: 0.7;
        }
        
        .header_short {
            background-color: #012354;
            background-size: cover;
            font-family: 'Open Sans', sans-serif;

        }

        .header_short-title {
            color: rgb(255, 255, 255) ! important;  
            font-size: 3rem;
            font-weight: 700;
            margin-left: 20px ! important;
        }
        .header_short-subtitle {
            color: rgb(255, 255, 255);  
            font-size: 1rem;
            margin-left: 20px ! important;
        }

        /* Contenedor del menú */
        .trending-container {
            position: relative;
        }

        /* Barra de navegación secundaria */
        .trending-bar {
            display: flex;
            gap: 30px;
            background-color: #f3f3f3;
            padding: 10px 20px;
            font-family: 'Open Sans', sans-serif;
            height: 80px;
            align-items: flex-start;
            font-size: 1rem;
        }

        .trending-title {
            font-weight: 700;
            min-width: 130px;
            text-align: right;
            padding-right: 3px;
        }

        .trending-item {
            border-left: 2px solid #007bff;
            padding-left: 10px;
            flex-grow: 1;
        }

        .trending-item a {
            color: inherit; /* Hereda el color definido en .trending-item */
            text-decoration: none; /* Quita el subrayado */
        }

        .trending-item:hover {
            color: #111;
            font-weight: bold;    
        }

        .trending-number {
            color: #007bff;
            font-weight: bold;
            margin-right: 6px;
        }

        /* Ocultar la trending-bar en móviles */
        @media (max-width: 768px) {
            .trending-bar {
                flex-direction: column; /* Apilar los elementos verticalmente */
                gap: 10px;
                flex-wrap: nowrap !important; /* Evitar que los elementos se envuelvan */
                height: auto !important; /* Ajustar la altura según sea necesario */
                padding: 15px 15px; /* Ajustar el padding según sea necesario */
            }

          .trending-title {
            all: unset; /* Elimina todos los estilos heredados */
            font-weight: 700 !important;
            min-width: 100% !important;
            text-align: left !important;
            font-size: 1.1rem !important;
            white-space: nowrap !important; /* Evita el salto de línea */
            }

            .trending-item {
                padding-left: 10px !important; /* Elimina el padding izquierdo */
                flex-grow: 0 !important; /* Evita que crezca */
                font-size: 1rem !important;
            }
        }
        
        /* Ocultar la trending-bar en móviles y en modo horizontal */
        @media (max-width: 1024px) {
            .trending-bar {
                gap: 0px;
                height: 95px; /* Ajustar la altura según sea necesario */
                padding: 5px 5px;
            }

           .trending-title {
            text-align: left !important;
            padding-left: 5px !important;
            min-width: none;
           }
        }
        
        /* Elementos adicionales y ajustes */
        .nav-item {
            color: white;
            text-decoration: none;
        }
        
        /* Ajuste para que el encabezado ocupe todo el ancho */
        .block-container {
            padding-top: 0;
            max-width: 100%;
        }
        
        /* Ocultar hamburguesa de Streamlit */
        #MainMenu {visibility: hidden;}
        header {visibility: hidden;}
        footer {visibility: hidden;}
    
    
        .news-grid {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }

        .news-block {
            width: 50%;
            height: 400px;
            overflow: hidden;
        }

        .news-image {
            width: 100%;
            height: auto;
            object-fit: cover;
            display: block;
        }

        .news-text {
            font-family: Georgia, serif;
            background-color: white;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center; /* Centra verticalmente */
            align-items: flex-start; /* Alinea el texto a la izquierda */
            box-sizing: border-box;
            padding: 60px 30px; /* Ajusta el padding según sea necesario */
        }

        .news-title {
            font-size: 1.8rem;
            font-weight: bold;
            line-height: 1.2;
            margin-bottom: 20px;
        }

        .news-date {
            font-size: 0.9rem; /* Tamaño de letra más pequeño */
            font-style: italic; /* Texto en cursiva */
            color: #555; /* Color gris para diferenciar */
            margin-bottom: 10px; /* Espaciado inferior */
        }

        .news-description {
            font-size: 1.1rem;
            color: #333;
            margin-bottom: 10px;
        }

        .news-link {
            font-weight: bold;
            color: #0a58ca;
            text-decoration: none;
        }

        .news-link:hover {
            text-decoration: underline;
        }

        /* Responsive styles for news-grid */
        @media (max-width: 768px) {
            .news-grid {
                flex-direction: column; /* Stack items vertically */
            }

            .news-block {
                width: 100%; /* Make each block take full width */
                height: auto; /* Adjust height automatically */
            }

            .news-text {
                padding: 20px; /* Reduce el padding en móviles */
            }

            .news-title {
                font-size: 1.5rem; /* Adjust title size */
            }

            .news-description {
                font-size: 1.2rem; /* Adjust description size */
            }
        
            .news-block iframe {
                height: 300px !important; /* Ajusta la altura del iframe para móviles */
                width: 100% !important; /* Asegúrate de que el iframe ocupe todo el ancho del bloque */
            }
        }
        /* Responsive styles for news-grid on larger screens */

                        /* Mantener los bloques apilados en pantallas pequeñas y en modo horizontal */
            @media (max-width: 1024px) {
                .news-grid {
                    flex-direction: column; /* Apilar los bloques verticalmente */
                }
            
                .news-block {
                    width: 100%; /* Cada bloque ocupa el 100% del ancho */
                    height: auto; /* Ajustar la altura automáticamente */
                }
                
                .news-block iframe {
                    width: 100%; /* Asegúrate de que el iframe ocupe todo el ancho del bloque */
                    height: 400px; /* Ajusta la altura según sea necesario */
                }
                .news-text {
                    padding: 20px; /* Reduce padding for smaller screens */
                }
            }
            .news-ticker {
                background-color: #000;
                color: white;
                padding: 10px 0;
                width: 100%;
                overflow: hidden;
                position: relative;
            }
            
            .ticker-content {
                white-space: nowrap;
                animation: ticker 30s linear infinite;
                display: inline-block;
                padding-left: 100%;
            }
            
            @keyframes ticker {
                0% {
                    transform: translateX(0);
                }
                100% {
                    transform: translateX(-100%);
                }
            }




